# OS
.DS_Store
Thumbs.db
*.swp
*.swo

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment
.env
.env.local
.env.production
.env.deploy

#doc jangan diupload ke github
doc

# Docker
docker-compose.override.yml

# Frontend
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.tsbuildinfo
frontend/*.tsbuildinfo

# Backend
backend/vendor/
backend/.phpunit.result.cache
backend/storage/
backend/bootstrap/cache/*
!backend/storage/.gitkeep
!backend/bootstrap/cache/.gitkeep

# Logs
*.log
npm-debug.log*
